listen stats
 bind *:9999
 stats enable
 stats hide-version
 stats uri /stats
 stats auth admin:admin@123

frontend haproxy_in
    bind *:80
    default_backend haproxy_http

backend haproxy_http
    balance balance_method
    mode http
    server web1 slave1_ip:80 check
    server web2 slave2_ip:80 check
